body {
    margin: 0;
    padding: 0;
    background-image: url(background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #2c3e50;
    padding: 15px 40px;
}

nav .logo {
    color: white;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.profil {
    width: 200px;          /* ukuran foto */
    height: 200px;
    object-fit: cover;     /* supaya tidak gepeng */
    border-radius: 50%;    /* membuat bulat */
    display: block;
    margin: 20px auto;     /* membuat ke tengah */
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.hero {
    height: 50vh;
    background: linear-gradient(to right, #3498db, #2c3e50);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

section {
    padding: 60px 40px;
}

h2 {
    text-align: center;
    margin-bottom: 30px;
}

.card-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: #ffffff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.08);
    max-width: 500px;
    margin: auto;
    transition: 0.3s ease;
}

.card-caw {
    background: linear-gradient(135deg, #e6f0f2, #d9eef3);
    padding: 20px 25px;
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.05);
    transition: 0.3s ease;

}

button {
    padding: 10px 20px;
    border: none;
    background: #f39c12;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

#topBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}